.container {
    width: 1050px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 0;
}
.main-top-detail {
    margin-top: 55px;
}
.main-top-detail .main-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.main-top-detail .main-title .box-img img {
    display: block;
}
.main-top-detail .main-title .desc {
    font-size: 26px;
    font-weight: 500;
    color: #fff;
    margin-left: 30px;
}
.main-middle-detail .list-three-item {
    display: flex;
    max-width: 570px;
    margin: 0 auto;
    padding: 15px 0;
    background: #1B1B1C;
    border-radius: 5px;
    margin-bottom: 20px;
}
.main-middle-detail .list-three-item li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(3 / 9 * 100%);
    color: #fff;
    font-weight: 600;
}
.main-middle-detail .list-three-item li:nth-child(1) {
    border-right: 1px solid #2D2D30;
}
.main-middle-detail .list-three-item li:nth-child(2) {
    border-right: 1px solid #2D2D30;
}
.main-middle-detail .list-three-item li span {
    margin-left: 5px;
}
.main-bottom-detail {
    margin-bottom: 10px;
}
.btn-main {
    background: #313131;
    color: #B1B1B1;
    font-size: 16px;
    border: 0px solid transparent;
    padding: 10px 30px;
    line-height: 22.5px;
    transition: 0.4s ease;
    border-radius: 2px;
    cursor: pointer;
}
.btn-main:hover {
    background: #F9C801;
    color: #fff;
}
.box-dispash-item {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.box-dispash-item .item-info {
    width: 50%;
    height: auto;
    padding: 10px;
}
.box-dispash-item .item-info .content-info {
    background: #1B1B1C;
    color: #fff;
    padding: 20px;
    text-align: left;
    height: 100%;
}
.box-dispash-item .item-info .content-info .title-info {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.box-dispash-item .item-info .content-info .step-pool .ant-steps-item-title {
    color: #fff;
    font-size: 14px;
    padding-right: 0 !important;
}
.box-dispash-item .item-info .content-info .step-pool .ant-steps-item-content {
    position: absolute;
    bottom: 0;
    left: 0;
}
.box-dispash-item .item-info .content-info .step-pool .ant-steps-item-container {
    padding-bottom: 35px;
}
.ant-steps-item-title::after {
    display: none !important;
}
.ant-steps-horizontal:not(.ant-steps-label-vertical) .ant-steps-item {
    padding-left: 0 !important;
}
.box-dispash-item .item-info .content-info .step-pool .ant-steps-item-wait .ant-steps-item-icon  {
    background: #343437;
    line-height: 28px;
    position: relative;
    z-index: 1;
    margin: 0;
}
.box-dispash-item .item-info .content-info .step-pool .ant-steps-item-wait .ant-steps-item-icon .ant-steps-icon {
    color: #9F9F9F;
}
.box-dispash-item .item-info .content-info .step-pool .ant-steps-item-active .ant-steps-item-icon {
    background: #F9C801;
    border: 0px solid transparent;
    line-height: 32px;
    position: relative;
    z-index: 1;
}
.box-dispash-item .item-info .content-info .step-pool .ant-steps-item-container:before {
    content: '';
    background: #343437;
    width: 100%;
    height: 4px;
    position: absolute;
    top: 13px;
    left: 1px;
    z-index: 0;
}
.box-dispash-item .item-info .content-info .step-pool {
    margin-bottom: 25px;
}
.box-claim-token .time-claim {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 2.5px;
    display: flex;
    margin-left: -10px;
}
.box-claim-token .time-claim > div {
    text-align: center;
    padding: 0 10px;
}
.box-claim-token .time-claim > div > span {
    font-size: 12px;
    display: block;
    color: #9F9F9F;
}
.swap-amount .text-top-amount {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.swap-amount .text-top-amount .text-left {
    font-size: 14px;
    color: #fff;
}
.swap-amount .text-top-amount .text-right {
    font-size: 12px;
    color: #9F9F9F;
}
.main-amount .desc-amount {
    font-size: 30px;
    color: #F9C801;
}
.swap-amount .text-bottom-progress .text-progress {
    font-size: 14px;
    color: #fff;
    margin-bottom: 15px;
}
.progress-line {
    position: relative;
}
.progress-line .ant-progress-text {
    position: absolute;
    top: 32px;
    left: 0;
    margin-left: 0;
    color: #fff;
    display: block !important;
}
.progress-line .balance-progess {
    position: absolute;
    right: 0;
    top: 30px;
    color: #9F9F9F;
}
.progress-line .ant-progress-show-info .ant-progress-outer {
    padding-right: 0;
}
.progress-line .ant-progress-bg {
    background-color: #f9c801;
    height: 4px !important;
}
.progress-line .vector-arrow {
    position: absolute;
    top: -2px;
    right: -12px;
}
.box-tabs-detail {
    padding: 25px;
    background: #1B1B1C;
    margin-bottom: 30px;
    margin-top: 10px;
}
.box-tabs-detail .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #F9C801;
}
.box-tabs-detail .ant-tabs-tab .ant-tabs-tab-btn {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    color: #9F9F9F;
}
.box-tabs-detail .ant-tabs-ink-bar {
    background: #F9C801;
}
.box-tabs-detail .ant-tabs-top > .ant-tabs-nav::before {
    border-bottom: 1px solid #2D2D30;
}
.list-detail-info-tabs {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 0 -50px;
}
.list-detail-info-tabs li {
    padding: 0 50px;
    width: 50%;
    display: flex;
    list-style-type: none;
    color: #fff;
    padding-bottom: 30px;
}
.list-detail-info-tabs li .text-left {
    color: #9F9F9F;
    width: 40%;
    text-align: left;
}
.main-color {
    color: #FFDA44;
    text-decoration: underline;
}
.list-detail-info-tabs li:last-child {
    width: 100%;
    display: block;
    text-align: left;
}
.list-detail-info-tabs li:last-child .text-right {
    margin-top: 20px;
}
.list-detail-info-tabs li .text-right img {
    margin-right: 35px;
}
@media screen and (max-width:768px) {
    .main-top-detail .main-title {
        display: block;
    }
    .main-top-detail .main-title .box-img img {
        display: block;
        margin: auto;
    }
    .main-top-detail .main-title .desc {
        margin-left: 0;
    }
    .main-top-detail {
        margin-top: 30px;
    }
    .box-dispash-item .item-info {
        width: 100%;
    }
    .list-detail-info-tabs li {
        width: 100%;
    }
    .list-detail-info-tabs li .text-left {
        width: 50%;
    }
    .list-detail-info-tabs li .text-right {
        width: 50%;
        text-align: left;
    }
    .list-detail-info-tabs li .text-right img {
        margin-right: 10px;
    }
    .list-detail-info-tabs li:last-child .text-right {
        width: 100%;
    }
    .box-dispash-item .item-info .content-info {
        padding: 20px 20px 40px 20px;
    }
}
.content-tabs-winner .search-text .ant-input {
    width: 100%;
    height: 50px;
    background: #101011;
    color: #595959;
    border: 1px solid #595959;
    font-size: 16px;
    border-radius: 5px;
}
.content-tabs-winner .search-text .ant-input-group-addon {
    background: #101011;
    position: absolute;
    right: 40px;
    left: auto;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    left: initial !important;
}
.content-tabs-winner .search-text .ant-input-search-button {
    background: #101011;
    border: 1px solid #101011;
}
.content-tabs-winner .search-text .ant-input-search-button svg {
    fill: #595959;
    font-size: 18px;
}
.ant-input-search .ant-input:hover + .ant-input-group-addon .ant-input-search-button:not(.ant-btn-primary), .ant-input-search .ant-input:focus + .ant-input-group-addon .ant-input-search-button:not(.ant-btn-primary) {
    border-left-color: #101011;
}
.table-winner {
    border: 1px solid #595959; 
    margin-top: 30px;
    border-radius: 5px;
}
.table-winner table {
    width: 100%;
    background: #101011;
    border-radius: 5px;
}
.table-winner tr th {
    padding: 20px 20px 10px 20px;
    color: #fff;
}
.table-winner tr th:nth-child(1){
    width: 10%;
    text-align: left;
}
.table-winner tr th:nth-child(2){
    width: 90%;
    text-align: left;
}
.table-winner tr td {
    padding: 15px 20px;
    color: #fff;
    border-bottom: 1px solid #59595959;
}
.table-winner tr td:nth-child(1){
    width: 10%;
    text-align: left;
}
.table-winner tr td:nth-child(2){
    width: 90%;
    text-align: left;
}
.pani-list {
    margin-top: 20px;
    text-align: end;
}
.pani-list .ant-pagination-item {
    background: transparent;
    border: 0px solid transparent;
    font-size: 18px;
}
.pani-list .ant-pagination-item a {
    color: #595959;
}
.pani-list .ant-pagination-item-active a {
    color: #FFD60A;
}
.pani-list .ant-pagination-item a:hover {
    color: #FFD60A;
}
.pani-list .ant-pagination-prev .ant-pagination-item-link {
    background: #252729;
    border: 0px solid transparent;
    color: #fff;
}
.pani-list .ant-pagination-next .ant-pagination-item-link {
    background: #252729;
    border: 0px solid transparent;
    color: #fff;
}
