.banner{
    background-image: url('../../../public/images/banner.png');
    /* width: 1532px; */
    height: 795px;
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: 100% 100%;
}
.textBanner{
    width: 780px;
    margin-top: 94px;
    height: 112px;
    background-image: url('../../../public/images/lable.png');   
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: 100% 100%;
}
.imgBanner{
    width: 730px;
    height: 54px;
    padding-left: 40px;
    padding-top: 281px;
}
.text{
    text-align: start;
    font-family: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 136.09%;
    padding-top: 40px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    padding-left: 40px;
}
.btnBanner{
    background: none;
    border: none;
    padding-top: 220px;
}
.btn:hover{
    cursor: pointer;
}
@media (max-width: 414px) {
    .banner{
        background-image: url('../../../public/images/image-mobie.png');
    }
    .bannerTop{
        width: 300px;
        height: 22.19px;
    }
    .imgBanner {
        width: 182px;
        height: 54px;
        /* padding-left: 40px; */
        padding-top: 299px;
    }

    .text {
        width: 50%;
        padding-left: 25px;
    }
    .textBanner{
        background-size: 50% 100%;
    } 
}
@media (max-width: 375px) {
    .text {
        width: 45%;
        font-size: 17px;
    }
    .textBanner{
        background-size: 46% 100%;
    } 
}
@media (max-width: 320px) {
    .text {
        width: 39%;
        padding-left: 25px;
    }
    .textBanner{
        background-size: 40% 100%;
    } 
}

/* @media (max-width: 768px) {

    .textBanner{
        background-size: 90% 100%;
    } 
} */