.market{
    padding-top: 50px;
    background: rgba(14, 14, 14, 1);
    color: #ffff;
    padding-bottom: 50px;
}
.slideText-top{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-style: normal;
    margin-top: 15px;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */

    letter-spacing: 0.025em;

    color: #FFFFFF;
}
.slideText-bottom{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    line-height: 17px;
    /* identical to box height */

    letter-spacing: 0.025em;

    color: #9F9F9F;
}
.rec-carousel-item-visible {
    padding: 10px;
}
.market-title{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 46px;
    letter-spacing: 0.025em;
    text-transform: uppercase;

    color: #FFFFFF;
}
@media (max-width: 414px) {
    .market-title{
        font-size: 26px;
    }
    
}
.rec-dot_active {
    box-shadow: 0 0 1px 3px rgb(100 91 51 / 71%) !important;
    background-color: rgba(250, 200, 0, 1) !important;
}
.rec-dot_active:hover{
    background-color: #FFD60A !important;
    cursor: pointer;
    box-shadow: 0 0 1px 3px rgb(100 91 51 / 71%) !important;
}
.rec-dot{
    background-color: #ffff !important;
}
.rec-dot:hover{
    background-color: #FFD60A !important;
    cursor: pointer;
    box-shadow: 0 0 1px 3px rgb(100 91 51 / 71%) !important;
}
.rec-arrow-right {
    color: #fff;
    background-color: #FFD60A !important;
    box-shadow: 0 0 2px 0 #333;
    position: absolute;
    bottom: -40px;
    left: 51.5%;
    transform: translateX(-50%);
    border-radius: 0 !important;
    width: 36px !important;
    height: 36px !important;
    line-height: 36px !important;
    min-width: 36px !important;
}
.rec-arrow-left {
    color: #fff;
    background-color: #FFD60A !important;
    box-shadow: 0 0 2px 0 #333;
    position: absolute;
    bottom: -40px;
    left: 48.5%;
    transform: translateX(-50%);
    border-radius: 0 !important;
    width: 36px !important;
    height: 36px !important;
    line-height: 36px !important;
    min-width: 36px !important;
}

.slideMarket {
    position: relative;
}

.rec.rec-swipable {
    margin-left: -40px !important;
}

.rec-pagination {
    display: none !important;
}