.ant-menu-horizontal {
    height: 77px;
    border: 0;
    /* border-bottom: 1px solid #f0f0f0; */
    box-shadow: none;
    align-items: center;
    line-height: 46px;
    color: #ffff;
}

.btnConnect{
    color: #000000;
    background-color: #FFD60A;
    width: 181px;
    height: 40px;
    border-color:#FFD60A ;
    font-weight: 500;
}
.btnConnect:hover{
    background-color: #fdd300;
    width: 182px;
    height: 41px;
    color: #000000;
    border-color:#FFD60A ;
}
.ant-modal-header {
    background: #1B1B1C;
    border-bottom: 1px solid #f0f0f036;
    border-radius: 2px 2px 0 0;
}
.ant-modal-title {
    margin: 0;
    color: #FFD60A;
    word-wrap: break-word;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    /* identical to box height */

    letter-spacing: 0.025em;
    text-transform: uppercase;
}
.learnMore{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    letter-spacing: 0.025em;
    color: #F9C801;
}
.ant-modal-footer {
    padding: 10px 16px;
    text-align: center;
    background: #1B1B1C;
    border-top: 1px solid #1B1B1C;
    border-radius: 0 0 2px 2px;
}
.ant-modal-body {
    background: #1B1B1C;
    padding: 24px;
    color: #ffff;
    font-size: 14px;
    line-height: 1.5715;
    word-wrap: break-word;
}
.ant-modal-close{
    color: #ffff;
}
.ant-menu-light .ant-menu-item:hover, .ant-menu-light .ant-menu-item-active, .ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-light .ant-menu-submenu-active, .ant-menu-light .ant-menu-submenu-title:hover{
    color: #F9C801 !important;

}
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after{
    border-bottom: 2px solid #F9C801 !important;
}
.logoMenu{
    margin-right: 40px;
}
.ant-menu-horizontal > .ant-menu-item::after {
    bottom: -15px;
}
.ant-menu-overflow li:first-child:after {
    display: none;
}
.ant-menu-overflow li:nth-child(6):after {
    display: none;
}
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item {
    padding: 0 30px !important;
}
.ant-menu-title-content a {
    color: #fff;
    position: relative;
    display: block;
    margin: 0;
    padding: 0 5px;
    white-space: nowrap;
    cursor: pointer;
    transition: background 0.3s, padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); 
}
.ant-menu-horizontal > .ant-menu-item a {
    color: #fff;
    font-weight: 500;
}
.ant-menu-horizontal > .ant-menu-item a:hover {
    color: #FFD60A;
}
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after {
    border-bottom: 2px solid #FFD60A;
}
.hide-menu {
    display: none;
}
.show-mobile {
    display: block;
}
.header-mobile {
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, rgb(27 27 28) 0%, rgb(255 214 10 / 18%) 86%);
    position: relative;
    z-index: 1001;
}
.header-mobile .ant-btn-primary {
    background: transparent;
    border: 0px solid transparent;
    font-size: 18px;
}
.header-mobile .ant-btn-primary:hover, .header-mobile .ant-btn-primary:focus {
    background: transparent;
    border: 0px solid transparent;
}
.header-mobile .ant-btn {
    font-size: 20px;
    height: auto;
    padding-right: 0;
}
.menu-mobile {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 998;
}
.header-mobile .header-right {
    position: relative;
    z-index: 999;
}
.menu-mobile .ant-menu {
    height: 100vh;
    background: transparent;
    margin-top: 80px;
}
.menu-mobile .ant-menu:before {
    content: '';
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 997;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    filter: blur(2px);
}
.menu-mobile .ant-menu-dark.ant-menu-inline .ant-menu-item {
    position: relative;
    z-index: 1000;
    padding-left: 15px !important;
}
.menu-mobile .ant-menu-dark .ant-menu-item > span > a {
    font-weight: bold;
    padding-left: 0;
}
.menu-mobile .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background: #FFD60A !important;
}
.bottom-menu-mobile {
    position: absolute;
    bottom: 30px;
    left: 0;
    z-index: 1001;
    width: 100%;
}
.bottom-menu-mobile .list-socail li {
    list-style-type: none;
}
.bottom-menu-mobile .list-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}
.social-mobile {
    padding: 15px;
}
.copy-right {
    text-align: center;
    color:#8F8F8F;
    font-size: 12px;
}