.launchpad{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #131418;
    color: #ffff;
}
.ant-card-bordered {
    color: #ffff;
    background-color: #1B1B1C;
    border: 1px solid #1B1B1C;
}
.nameLP{
    display: flex;
}
.itemLP {
    padding: 25px;
}

.btnItem{
    width: 100%;
    height: 40px;
    background-color: #313131;
    color: #ffff;
    border: #313131 ;
}
.btnItem:hover{
    color: #FFD60A;
}
.totalRate {
    display: flex;
}
.totalText{
    text-align: start;
    width: 25%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 132%;
    /* or 18px */

    letter-spacing: 0.025em;

    color: #9F9F9F;
}
.textNameLP{
    width: 90%;
    text-align: start;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.025em;

    color: #FFFFFF;
}
.totalPrice{
    width: 75%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 132%;
    /* or 21px */

    text-align: right;
    letter-spacing: 0.025em;

    color: #FFFFFF;
}
.titleLaunch-text{
    color: #ffff;
    padding-top: 35px;
    font-family: 'Play';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 46px;
    letter-spacing: 0.025em;
    text-transform: uppercase;
}
@media (max-width: 414px) {
    .titleLaunch-text{
        font-size: 26px;
    }
    
}
.titleLaunch-content{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 132%;
    /* or 21px */

    text-align: center;
    letter-spacing: 0.025em;

    color: #FFFFFF;
}
.btnJoinNow{
    width: 156px;
    height: 40px;
    background: #F9C801;
    border: #F9C801;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.01em;

    color: #000000;
}
.imgLP{
    width: 10%;
}
.status{
    margin-top: -198px;
    position: absolute;
    background-color: #FAC800;
    width: 92px;
    height: 25px;
    margin-left: -25px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    letter-spacing: 0.025em;
    text-transform: uppercase;

    color: #000000;
}
.status-text{
    padding-top: 3.5px;
}