.banner{
    background-image: url('../../../public/images/banner.png');
    /* width: 1532px; */
    height: 795px;
}
.textBanner{
    width: 780px;
    
    height: 112px;
    background-image: url('../../../public/images/lable.png');   
}
.imgBanner{
    width: 730px;
    height: 54px;
    padding-left: 40px;
    padding-top: 281px;
}
.text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 134.09%;
    padding-top: 40px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}
.btnBanner{
    background: none;
    border: none;
    padding-top: 410px;
}
.btnBanner:hover{
    cursor: pointer;
}