.iconMedia{
    padding-left: 30px;
}
.footer{
    text-align: center;
     background-color:#131418;
}
.footer-top{
    background-color: #131418;
}
.footer-title {
    height: 26px;
    background-color: #252729;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    letter-spacing: 0.025em;

    color: #FFFFFF;
}
.footer-content{
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    letter-spacing: 0.025em;

    color: #9F9F9F;
}
.footer-tab{
    padding-right: 15px;
}
.footer-link{
    color: #9F9F9F;
}
.footer-coppy{
    background-color: #000000;
    height: 54px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.025em;

    color: #9F9F9F;
}
.footer-coppy-text{
    padding-top: 17px;
}